.contact-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 90px);
    padding: 20px;
    box-sizing: border-box;
}

.contact-content {
    background: #00e6fe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 230, 254, 0.7);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.contact-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b2244;
    font-size: 24px;
    font-weight: bold;
}

.contact-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #0b2244 !important;
}

.contact-input,
.contact-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 2px solid #0b2244;
    border-radius: 4px;
    color: #0b2244;
    background-color: #00e6fe;
    font-size: 14px;
    box-sizing: border-box;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
    color: #005775;
    opacity: 1;
}

.contact-btn {
    width: 50%;
    background-color: #0b2244;
    color: #00e6fe;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto 0;
    display: block;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.contact-btn:hover {
    background-color: #005775;
    color: #00e6fe;
    box-shadow: 0 0 10px 5px rgba(0, 87, 117, 0.8);
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .contact-content {
        padding: 15px;
    }

    .contact-btn {
        width: 70%;
    }

    .contact-content h2 {
        font-size: 20px;
    }
}